body {
    font-family: 'Helvetica', sans-serif;
    font-weight: lighter;
    margin: 0;
    padding: 0;
    background-image: repeating-linear-gradient(50deg, #ffbe98, #ffbec0, #ff878b);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
}

section {
    width: 80%;
    max-width: 1250px;
    text-align: left;
    padding: 20px 0;
}

/* About Me section styles */
#my-information {
    display: flex;
    justify-content: space-between;
    padding-top: 0;
    flex-wrap: wrap;
}

#my-information h2 {
    margin: 50px 0;
    font-size: 6rem;
    color: transparent;
    -webkit-text-stroke: 2px #669d6f;
    text-stroke: 2px #669d6f;
}

.about-me {
    font-size: 1.3rem;
    margin-top: 70px;
    line-height: 1.5;
    color: #4e1b10;
    width: 45%;
}

#projects h2 {
    margin: 50px 0;
    font-size: 6rem;
    color: transparent;
    -webkit-text-stroke: 2px #669d6f;
    text-stroke: 2px #669d6f;
}

#project-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 0;
}

#project-list li {
    border: 1px solid #4e1b10;
    width: 45%;
    padding: 10px 10px;
    margin: 10px 0;
    border-radius: 5px;
    display: grid;
    gap: 6px;
    justify-items: center;
}

#project-list p {
    grid-column: span 2;
    text-align: center;
    line-height: 1.3;
    margin: 0;
    color: #4e1b10;
    font-size: 1.1rem;
}

.left-button, .right-button {
    margin: 10px 0;
    font-size: 1.1rem;
}

#project-list a {
    text-decoration: none;
    color: #4e1b10;
    padding: 5px 10px;
    border: 1px solid #4e1b10;
    border-radius: 3px;
    text-align: center;
}

#project-list a:first-child:hover {
    background-color: #ff878b;
    transition-delay: 0.1s;
}

.project-name {
    font-weight: bolder;
}

/* adaptation for tablets and phones */
@media (max-width: 1050px) {
    #my-information {
        flex-direction: column; /* change to vertical orientation */
    }

    .about-me {
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
    }

    #projects h2 {
        margin-top: 20px;
    }

    #project-list {
        margin-top: 0;
        padding-top: 0;
        flex-direction: column; /* change to vertical orientation */
        align-items: center;
    }

    #project-list li {
        width: 100%;
    }
}

@media (max-width: 480px) {
    #my-information h2, #projects h2 {
        font-size: 4rem; /* increase header for small screens */
    }

    #projects h2 {
        margin-top: 20px;
    }

    .about-me {
        font-size: 1.1rem;
        margin-top: 0;
        margin-bottom: 0;
    }

    #project-list {
        margin-top: 0;
        padding-top: 0;
        flex-direction: column; /* change to vertical orientation */
        align-items: center;
    }

    #project-list li {
        padding: 10px 10px;
        margin: 10px 0;
        border-radius: 5px;
        display: flex;
        flex-direction: column; /* change to vertical orientation */
        align-items: center;
    }
}